<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>no.etnan.kontakter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Åpne i Kontakter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Åpne i Kontakter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E06</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Ring / send e-post / vis kart</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Åpne i Kontakter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</key>
		<array/>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E05</key>
		<array/>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E06</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Simon Etnan</string>
	<key>description</key>
	<string>Søk i kontakter med kon/kontakt i stedet for i standardresultatene</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kontakter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kon</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Søker i kontakter …</string>
				<key>script</key>
				<string>/usr/bin/python3 contacts_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Søk navn, telefon, e-post eller firma</string>
				<key>title</key>
				<string>Kontakter</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kontakt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Søker i kontakter …</string>
				<key>script</key>
				<string>/usr/bin/python3 contacts_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Søk navn, telefon, e-post eller firma</string>
				<key>title</key>
				<string>Kontakter</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E02</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Henter felter …</string>
				<key>script</key>
				<string>/usr/bin/python3 contacts_fields.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Telefon, e-post og adresser</string>
				<key>title</key>
				<string>Kontaktfelter</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E03</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/open "addressbook://${uid}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E05</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Søk i Kontakter uten at kontakter dukker opp i Alfreds standardresultater.

Keyword: kon &lt;søk&gt;  eller  kontakt &lt;søk&gt;
Søket matcher navn, kallenavn, firma, telefonnummer (siffer, minst 3) og e-post.

- Enter: viser alle felter for kontakten (telefon, e-post, adresse, nettside)
  - Enter på et felt kopierer verdien
  - Cmd+Enter ringer (tel:), skriver e-post (mailto:) eller åpner adressen i Kart
  - Alt+Enter åpner kontakten i Kontakter
- Cmd+Enter på en kontakt åpner den direkte i Kontakter
- Cmd+C kopierer første telefonnummer (evt. e-post)

Leser Kontakter-databasen (~/Library/Application Support/AddressBook) direkte via sqlite, skrivebeskyttet. Krever at Alfred har tilgang til Kontakter.</string>
	<key>uidata</key>
	<dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E01</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E02</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E03</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E04</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E05</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7E2B4D90-1C6F-4A83-B5E7-3F9A0C2D6E06</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
